<div
  data-alert-container
  class="max-w-sm w-full absolute bottom-0 right-0 mb-5 mr-6 z-10 opacity-100"
>
  <div
    class="w-full bg-red-ribbon text-dark-100 rounded-sm p-4 shadow-lg hidden opacity-0 transition-opacity ease-in-out duration-200 mt-3"
    data-alert-template
  >
    <div class="flex items-start">
      <div class="flex-shrink-0 w-6 mt-1px" data-alert-icon></div>
      <div class="ml-3 w-0 flex-1 pt-0.5">
        <p class="text-sm leading-5 font-bold" data-alert-title></p>
        <p class="mt-1 text-sm leading-5" data-alert-message></p>
      </div>
      <div class="ml-4 flex-shrink-0 flex">
        <button
          class="inline-flex text-red-ribbon-100 hover:text-red-ribbon-200 focus:text-red-ribbon-300 transition-color ease-in-out duration-150"
          data-alert-dismiss
        >
          <svg viewBox="0 0 20 20" fill="currentColor" class="h-5 w-5">
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
            ></path>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
