<footer>
  © 2020 dragonwocky, under the
  <a rel="license" href="https://creativecommons.org/licenses/by/4.0/"
    >Creative Commons Attribution 4.0 International License</a
  >
  (content) and the
  <a
    rel="license"
    href="https://github.com/dragonwocky/dragonwocky.github.io/blob/master/CODE_LICENSE"
    >MIT License</a
  >
  (code). <br /><br />
  <svg
    width="20"
    height="20"
    tabindex="0"
    class="scroll-top"
    viewBox="0 0 320 512"
  >
    <path
      fill="currentColor"
      d="
              M177 159.7l136 136c9.4 9.4 9.4 24.6 0 33.9l-22.6
              22.6c-9.4 9.4-24.6 9.4-33.9 0L160 255.9l-96.4 96.4c-9.4
              9.4-24.6 9.4-33.9 0L7 329.7c-9.4-9.4-9.4-24.6
              0-33.9l136-136c9.4-9.5 24.6-9.5 34-.1z"
      class=""
    ></path>
  </svg>
</footer>
