<aside class="bio">
  <h1>
    <a href="/#"><img src="__depth__assets/avatar.jpg" width="20" /></a
    ><br />dragonwocky
  </h1>
  <h2>
    hey! I'm a teenage bookworm programmer from australia. hobbies include
    confusion, warframe and minecraft.
  </h2>
  <ul class="contact">
    __contact__
  </ul>
  <br />
  <nav>
    <ol>
      <li><a href="__depth__#portfolio">portfolio</a></li>
      <li><a href="__depth__#posts">posts</a></li>
      <li><a href="__depth__#hire-me">hire me</a></li>
    </ol>
  </nav>
</aside>
