<style>
  ::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }
  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 0.15em;
  }
  .scrollbars-dark::-webkit-scrollbar-thumb,
  .scrollbars-dark ::-webkit-scrollbar-thumb {
    background-color: #3b4859;
  }
  .scrollbars-dark::-webkit-scrollbar-track,
  .scrollbars-dark ::-webkit-scrollbar-track {
    background-color: #12161c;
  }
  .scrollbars-dark::-webkit-scrollbar-thumb:hover,
  .scrollbars-dark ::-webkit-scrollbar-thumb:hover {
    background: #647a96;
  }
  .scrollbars-light::-webkit-scrollbar-thumb,
  .scrollbars-light ::-webkit-scrollbar-thumb {
    background-color: #cbd2dc;
  }
  .scrollbars-light::-webkit-scrollbar-track,
  .scrollbars-light ::-webkit-scrollbar-track {
    background-color: #e0e5eb;
  }
  .scrollbars-light::-webkit-scrollbar-thumb:hover,
  .scrollbars-light ::-webkit-scrollbar-thumb:hover {
    background: #b5c0ce;
  }
</style>